body {
    font-family: sans-serif;
    background-color: white;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container {
    padding-left: 50px;
    padding-right: 25px;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 60px;
    color: #963a4a;
    font-family: Comic Sans MS;
}
